__pycache__/
*.py[cod]

db.sqlite3

staticfiles/
media/

.env
.venv/
venv/
env/
ENV/

.vscode/

*/migrations/*
!*/migrations/__init__.py

node_modules/
frontend/node_modules/
frontend/dist/
dist/

Thumbs.db